yc_cloud_id         = "b1g..."
yc_folder_id        = "b1g..."
yc_zone             = "ru-central1-a"
domain_name         = "vault.example.com"
cloudflare_zone_id  = "..."
os_login_user_id    = "aje..."
ssh_allowed_cidrs   = ["0.0.0.0/0"]
ubuntu_image_id     = "fd8p5lhqpq5djcs3jdk1"
backup_bucket_name  = "globally-unique-vaultwarden-backups"
vaultwarden_image   = "vaultwarden/server:1.34.3"
caddy_image         = "caddy:2.10.2-alpine"
data_disk_size_gb   = 20
local_backup_keep   = 3
