yc_cloud_id         = "b1g..."
yc_folder_id        = "b1g..."
yc_zone             = "ru-central1-a"
domain_name         = "vault.example.com"
cloudflare_zone_id  = "..."
os_login_user_id    = "aje..."
backup_bucket_name  = "globally-unique-vaultwarden-backups"
vaultwarden_image   = "vaultwarden/server:1.37.1"
caddy_image         = "caddy:2.11.4"
docker_registry_mirror = "https://dockerhub.timeweb.cloud"
vm_cores            = 2
vm_memory           = 1
vm_core_fraction    = 20
local_backup_keep   = 3
